clase01/3_apertura_workflow2_dashboard.json
{
  "name": "Clase 01 · Apertura Workflow 2 (Dashboard en vivo)",
  "nodes": [
    {
      "id": "c6e4d7bc-6cfc-488f-a398-0ac5f36beb6b",
      "name": "Apertura · Workflow 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        "## Apertura · Workflow 2 (Dashboard en vivo)\n\nWebhook GET → Google Sheets (Read) → Code (arma HTML) → Respond to Webhook.\n\nPublicá la URL del Webhook y proyectala: se refresca sola cada 10s (meta refresh en el HTML). Personalizá el Code node con las preguntas reales de tu formulario."
      ],
      "parameters": {
        "content": 240,
        "height": 190,
        "width": 460,
        "color": 5
      }
    },
    {
      "id": "ad37a8a5-1e39-49ca-9619-d50a26ecfdcc",
      "name": "Webhook - Dashboard",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "d114c9d7-86a8-4788-bb55-2b6d0b2521f1",
      "parameters": {
        "path": "dashboard",
        "options": {},
        "httpMethod": "GET"
      }
    },
    {
      "id": "29dcfd77-506c-4b2e-ac0b-bab3ab570bce",
      "name": "Google Sheets (Read)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        560,
        300
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_CON_TU_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Respuestas",
          "mode": "list"
        },
        "options": {}
      },
      "notes": "Lee todas las filas de la hoja 'Respuestas'. Mismo Spreadsheet que el Workflow 1."
    },
    {
      "id": "f96e1736-047b-40f3-b7c5-5413a674db2a",
      "name": "Armar HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ],
      "parameters": {
        "jsCode": "// Arma un dashboard HTML muy simple a partir de las filas de la planilla.\nconst rows = items.map(i => i.json);\nconst paises = [...new Set(rows.map(r => r['País']).filter(Boolean))];\nconst mate = rows.filter(r => (r['Mate o café']||'').toLowerCase().includes('mate')).length;\nconst cafe = rows.filter(r => (r['Mate o café']||'').toLowerCase().includes('caf')).length;\n\nconst html = `\n<html><head><meta http-equiv=\"refresh\" content=\"10\"></head>\n<body style=\"font-family:sans-serif;background:#F8F2E8;color:#260700;padding:40px;\">\n  <h1>Así es esta comisión</h1>\n  <p><b>Respuestas recibidas:</b> ${rows.length}</p>\n  <p><b>Países:</b> ${paises.join(', ') || '—'}</p>\n  <p><b>Mate vs. café:</b> ${mate} mate · ${cafe} café</p>\n  <p style=\"opacity:.6;font-size:12px;\">Se actualiza sola cada 10 segundos.</p>\n</body></html>`;\n\nreturn [{ json: { html } }];"
      }
    },
    {
      "id": "ff08b733-2f24-458b-9ca6-2053658b6f53",
      "name": "Respond to Webhook (HTML)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook - Dashboard": {
      "main": [
        [
          {
            "node": "Google Sheets (Read)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets (Read)": {
      "main": [
        [
          {
            "node": "Armar HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook (HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "clase01-ai-automation-avanzado"
  }
}